/* Css for headers and sub header */

.header{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

#main-header{
 text-align: center;
 padding-bottom: 0;
 width: 100%;
}


/* CSS for Nav */

.nav{
    font-family: 'Amatic SC', cursive;
    text-align: center;
    padding: 0px;
}

li {
    list-style-type: none;
    display: inline-block;
    padding-top: 0px;
}
    
li a { 
    text-decoration: none;
    font-size: 43px;
    padding-right: 18px;
    color: #D098F4;
}

a:visited{ 
    color: #F498BC;
}

a:hover{
    color:#98f4d0 ;
}



/* CSS for main map */

.map{
    text-align: center;
}

.pins{
    float: none;
    width: 100%;
}

/* CSS for the location of the pins */

.us{
    width: 27px;
    position:absolute;
    top: -420px;
    left: 290px;
    background-color: transparent;
}

.brazil{
    width: 27px;
    position:absolute;
    top: -230px;
    left: 470px;
    background-color: transparent;
}

.morocco{
    width: 27px;
    position:absolute;
    top: -380px;
    left: 593px;
    background-color: transparent;
}

.spain{
    width: 27px;
    position:absolute;
    top: -417px;
    left: 603px;
    background-color: transparent;
}

.france{
    width: 27px;
    position:absolute;
    top: -440px;
    left: 630px;
    background-color: transparent;
}

.uk{
    width: 27px;
    position:absolute;
    top: -470px;
    left: 615px;
    background-color: transparent;
}

.denmark{
    width: 27px;
    position:absolute;
    top: -490px;
    left: 653px;
    background-color: transparent;
}

.italy{
    width: 27px;
    position:absolute;
    top: -420px;
    left: 670px;
    background-color: transparent;
}

.greece{
    width: 27px;
    position:absolute;
    top: -410px;
    left: 695px;
    background-color: transparent;
}



/* US Country Page Styling */

#us-header{
    position:relative;
    left:348px;
    top:-70px;
    width:700px;
}

/* Brazil Country Page Styling */

#brazil-header{
    position:relative;
    left:515px;
    top:-70px;
    width:700px;
}

/* Morocco Country Page Styling */

#morocco-header{
    position:relative;
    left:470px;
    top:-70px;
    width:700px;
}

/* Spain Country Page Styling */

#spain-header{
    text-align: center;
}

#spain-content{
    text-align: center;
}

#spain-intro{
    font-family: 'Amatic SC', cursive;
    display: inline-block;
    margin-left: 0px;
    margin-bottom: -10px;
    margin-right:5px;
    width: 200px;
}

#barcelona-1{
    width: 501px;
    height: 415px;
    display: inline-block;
    margin-left:20px;
    margin-right:5px;
    margin-bottom: 0px;
}

#barcelona-2{
    width: 501px;
    display: inline-block;
    margin-left:0px;
    margin-right:20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#barcelona-3{
    width: 1220px;
    display: inline-block;
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#barcelona-4{
    width: 605px;
    height: 503px;
    display: inline-block;
    margin-left:20px;
    margin-right:5px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#barcelona-5{
    width: 605px;
    display: inline-block;
    margin-left:0px;
    margin-right:20px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#barcelona-6{
    width: 680px;
    display: inline-block;
    margin-left:20px;
    margin-right:5px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#barcelona-7{
    width: 531px;
    height: 508px;
    display: inline-block;
    margin-left:0px;
    margin-right:20px;
    margin-bottom: 5px;
    margin-top: 0px;
}

/* France Country Page Styling */

#france-header{
    position:relative;
    left:515px;
    top:-70px;
    width:700px;
}

/* UK Country Page Styling */

#uk-header{
    position:relative;
    left:317px;
    top:-70px;
    width:700px;
}

/* Denmark Country Page Styling */

#denmark-header{
    position:relative;
    left:465px;
    top:-70px;
    width:700px;
}

/* Italy Country Page Styling */

#italy-header{
    position:relative;
    left:565px;
    top:-70px;
    width:700px;
}

/* Greece Country Page Styling */

#greece-header{
    position:relative;
    left:515px;
    top:-70px;
    width:700px;
}



/* CSS for the footer */

.footer{
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    text-align: center;
    color: #d098f4;
}

/*.icon img{
     width: 50px;
     position: absolute;
     left:1200px;
     top:1280px;
     margin-bottom: 20px;*/
}


