/* Css for headers and sub header */

#whole-site{
    position: relative;
    top:-70px;
    left:0px;
    max-width: 1200px;
}
.header{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

#main-header{
    position:absolute;
    left:420px;
    top:0px;
    width:1050px;
}



/* CSS for Nav */

.nav{
    font-family: 'Amatic SC', cursive;
    position: absolute;
    left: 490px;
    top:220px;
    padding: 0px;
    width: 940px;
}

li {
    list-style-type: none;
    display: inline-block;
}
    
li a { 
    text-decoration: none;
    font-size: 43px;
    padding-right: 18px;
    color: #D098F4;
}

a:visited{ 
    color: #F498BC;
}

a:hover{
    color:#98f4d0 ;
}



/* CSS for main map */

.map{
    position:absolute;
    top:350px;
    left:350px;
}

/* CSS for the location of the pins */

.us{
    width: 27px;
    position:absolute;
    top: 590px;
    left: 620px;
    background-color: transparent;
}

.brazil{
    width: 27px;
    position:absolute;
    top: 770px;
    left: 790px;
    background-color: transparent;
}

.morocco{
    width: 27px;
    position:absolute;
    top: 630px;
    left: 920px;
    background-color: transparent;
}

.spain{
    width: 27px;
    position:absolute;
    top: 587px;
    left: 925px;
    background-color: transparent;
}

.france{
    width: 27px;
    position:absolute;
    top: 562px;
    left: 955px;
    background-color: transparent;
}

.uk{
    width: 27px;
    position:absolute;
    top: 525px;
    left: 935px;
    background-color: transparent;
}

.denmark{
    width: 27px;
    position:absolute;
    top: 520px;
    left: 973px;
    background-color: transparent;
}

.italy{
    width: 27px;
    position:absolute;
    top: 580px;
    left: 985px;
    background-color: transparent;
}

.greece{
    width: 27px;
    position:absolute;
    top: 595px;
    left: 1017px;
    background-color: transparent;
}



/* US Country Page Styling */

#us-header{
    position:relative;
    left:348px;
    top:-70px;
    width:700px;
}

/* Brazil Country Page Styling */

#brazil-header{
    position:relative;
    left:515px;
    top:-70px;
    width:700px;
}

/* Morocco Country Page Styling */

#morocco-header{
    position:relative;
    left:470px;
    top:-70px;
    width:700px;
}

/* Spain Country Page Styling */

#spain-header{
    position:relative;
    left:510px;
    top:-70px;
    width:700px;
}

#spain-content{
    position: relative;
    top: -100px;
}

#spain-intro{
    font-family: 'Amatic SC', cursive;
    display: inline-block;
    margin-left: 0px;
    margin-bottom: -10px;
    margin-right:5px;
    width: 200px;
}

#barcelona-1{
    width: 501px;
    height: 415px;
    display: inline-block;
    margin-left:20px;
    margin-right:5px;
    margin-bottom: 0px;
}

#barcelona-2{
    width: 501px;
    display: inline-block;
    margin-left:0px;
    margin-right:20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#barcelona-3{
    width: 1220px;
    display: inline-block;
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#barcelona-4{
    width: 605px;
    height: 503px;
    display: inline-block;
    margin-left:20px;
    margin-right:5px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#barcelona-5{
    width: 605px;
    display: inline-block;
    margin-left:0px;
    margin-right:20px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#barcelona-6{
    width: 680px;
    display: inline-block;
    margin-left:20px;
    margin-right:5px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#barcelona-7{
    width: 531px;
    height: 508px;
    display: inline-block;
    margin-left:0px;
    margin-right:20px;
    margin-bottom: 5px;
    margin-top: 0px;
}

/* France Country Page Styling */

#france-header{
    position:relative;
    left:515px;
    top:-70px;
    width:700px;
}

/* UK Country Page Styling */

#uk-header{
    position:relative;
    left:317px;
    top:-70px;
    width:700px;
}

/* Denmark Country Page Styling */

#denmark-header{
    position:relative;
    left:465px;
    top:-70px;
    width:700px;
}

/* Italy Country Page Styling */

#italy-header{
    position:relative;
    left:565px;
    top:-70px;
    width:700px;
}

/* Greece Country Page Styling */

#greece-header{
    position:relative;
    left:515px;
    top:-70px;
    width:700px;
}



/* CSS for the footer */

.footer{
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    position:absolute;
    top: 1170px;
    left: 410px;
    color: #d098f4;
    width: 600px;
}

.icon img{
     width: 50px;
     position: absolute;
     left:1200px;
     top:1280px;
     margin-bottom: 20px;
}


