/* Css for headers and sub header */

.header{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
     margin-top: -50px;
     width: 100%;
     display: inline-block;
}

#main-header{
 text-align: center;
}

/* CSS for Nav */

.nav{
    font-family: 'Amatic SC', cursive;
    text-align: center;
    display: inline-block;
    margin-top: -50px;
    width: 100%
}

li {
    list-style-type: none;
    display: inline-block;
    padding-top: 0px;
}
    
li a { 
    text-decoration: none;
    font-size: 43px;
    padding-right: 18px;
    color: #D098F4;
}

a:visited{ 
    color: #F498BC;
}

a:hover{
    color:#98f4d0 ;
}



/* CSS for main map */

.map{ text-align: center;
}

.map img{
    position: relative;
}


/* CSS for the location of the pins */

.us{
    width: 27px;
    position:absolute;
    top: -420px;
    left: -257px;
    background-color: transparent;
}

.brazil{
    width: 27px;
    position:absolute;
    top: -230px;
    left: -90px;
    background-color: transparent;
}

.morocco{
    width: 27px;
    position:absolute;
    top: -380px;
    left: 24px;
    background-color: transparent;
}

.spain{
    width: 27px;
    position:absolute;
    top: -417px;
    left: -3px;
    background-color: transparent;
}

.france{
    width: 27px;
    position:absolute;
    top: -440px;
    left: -6px;
    background-color: transparent;
}

.uk{
    width: 27px;
    position:absolute;
    top: -470px;
    left: -51px;
    background-color: transparent;
}

.denmark{
    width: 27px;
    position:absolute;
    top: -490px;
    left: -49px;
    background-color: transparent;
}

.italy{
    width: 27px;
    position:absolute;
    top: -420px;
    left: -66px;
    background-color: transparent;
}

.greece{
    width: 27px;
    position:absolute;
    top: -410px;
    left: -69px;
    background-color: transparent;
}



/* US Country Page Styling */

#us-header{
    text-align: center;
}

#us-content{
    text-align: center;
}

#us-intro{
    font-family: 'Amatic SC', cursive;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 0px;
    margin-right:5px;
    margin-top: -15px;
    width: 200px;
    vertical-align: top;
}

#us-1{
    width: 1007px;
    height: 550px;
    display: inline-block;
    margin-left:0px;
    margin-right:20px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#us-2{
    width: 603px;
    display: inline-block;
    margin-left:20px;
    margin-right:5px;
    margin-bottom: 5px;
    
}

#us-3{
    width: 603px;
    display: inline-block;
    margin-left:0px;
    margin-right:20px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#us-4{
    width: 605px;
    display: inline-block;
    margin-left:20px;
    margin-right:5px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#us-5{
    width: 605px;
    display: inline-block;
    margin-left:0px;
    margin-right:20px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#us-6{
    width: 553px;
    height: 651px;
    display: inline-block;
    margin-left:20px;
    margin-right:5px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#us-7{
    width: 653px;
    display: inline-block;
    margin-left:0px;
    margin-right:20px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#us-8{
    width: 1218px;
    display: inline-block;
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 5px;
    margin-top: 0px;
}

/* Brazil Country Page Styling */

#brazil-header{
    text-align: center;
}

/* Morocco Country Page Styling */

#morocco-header{
   text-align: center;
}

#morocco-content{
    text-align: center;
}

#morocco-intro{
    font-family: 'Amatic SC', cursive;
    font-size: 19px;
    display: inline-block;
    margin-bottom: 0px;
    margin-right:5px;
    margin-top: -5px;
    width: 200px;
    vertical-align: top;
}

#morocco-1{
    width: 1000px;
    height: 676px;
    display: inline-block;
    margin-left:0px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#morocco-2{
    width: 430px;
    height: 583.8px;
    display: inline-block;
    /* margin-left:20px; */
    margin-right:5px;
    margin-bottom: 5px;
    
}

#morocco-3{
    width: 770px;
    height: 583.8px;
    display: inline-block;
    margin-left:0px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#morocco-4{
    width: 630px;
    display: inline-block;
    margin-right:5px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#morocco-5{
    width: 570px;
    height: 470.3px;
    display: inline-block;
    margin-left:0px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#morocco-8{
    width: 1205px;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 0px;
}

#morocco-6{
    width: 580px;
    height: 462.8px;
    display: inline-block;
    margin-right:5px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#morocco-7{
    width: 620px;
    display: inline-block;
    margin-left:0px;
    margin-bottom: 5px;
    margin-top: 0px;
}


/* Spain Country Page Styling */

#spain-header{
    text-align: center;
}

#spain-content{
    text-align: center;
}

#spain-intro{
    font-family: 'Amatic SC', cursive;
    font-size: 19px;
    display: inline-block;
    margin-bottom: 0px;
    margin-right:5px;
    margin-top: -5px;
    width: 200px;
    vertical-align: top;
}

#barcelona-1{
    width: 1000px;
    display: inline-block;
    margin-left:0px;
    margin-bottom: 5px;
}

#barcelona-2{
    width: 600px;
    height:475px;
    display: inline-block;
    margin-right:5px;
    margin-left:0px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#barcelona-3{
    width: 600px;
    height:475px;
    display: inline-block;
    margin-right:5px;
    margin-left:0px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#barcelona-4{
    width: 600px;
    display: inline-block;
    margin-right:5px;
    margin-left:0px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#barcelona-5{
    width: 600px;
    height:448.1px;
    display: inline-block;
    margin-left:0px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#barcelona-6{
    width: 1205px;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 0px;
}

#barcelona-7{
    width: 600px;
    height: 498.8px;
    display: inline-block;
    margin-right:5px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#barcelona-8{
    width: 600px;
    display: inline-block;
    margin-left:0px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#barcelona-9{
    width: 675px;
    display: inline-block;
    margin-right:5px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#barcelona-10{
    width: 525px;
    height: 504.3px;
    display: inline-block;
    margin-left:0px;
    margin-bottom: 5px;
    margin-top: 0px;
}

/* France Country Page Styling */

#france-header{
    text-align: center;
}

#france-content{
    text-align: center;
}

#france-intro{
    font-family: 'Amatic SC', cursive;
    font-size: 19px;
    display: inline-block;
    margin-bottom: 0px;
    margin-right:5px;
    margin-top: -5px;
    width: 200px;
    vertical-align: top;
}

#france-1{
    width: 547px;
    height: 448px;
    display: inline-block;
    margin-left:0px;
    margin-right:5px;
    margin-bottom: 5px;
}

#france-2{
    width: 445px;
    display: inline-block;
    margin-left:0px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#france-3{
    width: 1206px;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 0px;
}
/* UK Country Page Styling */

#uk-header{
    text-align: center;
}

/* Denmark Country Page Styling */

#denmark-header{
    text-align: center;
}

/* Italy Country Page Styling */

#italy-header{
    text-align: center;
}

/* Greece Country Page Styling */

#greece-header{
    text-align: center;
}



/* CSS for the footer */

.footer{
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    text-align: center;
    color: #d098f4;
}

/*.icon img{
     width: 50px;
     position: absolute;
     left:1200px;
     top:1280px;
     margin-bottom: 20px;*/
}


